.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .popup-content-working {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
  }
  
  .popup h2 {
    margin: 0 0 20px;
  }
  
  .popup-content-working p {
    margin: 5px 0;
  }
  
  .popup-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .popup-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:#28a745;
    color: white;
  }
  
  .popup-actions button:hover {
    background-color: #28a745;
  }
  
  .popup-actions button:last-child {
    background-color: #dc3545;
  }
  
  .popup-actions button:last-child:hover {
    background-color: #c82333;
  }
  